@import url("https://raw.githack.com/mamrezn7/Davilo_app/master/general_stylesheet.css");

/*end of general css*/
 @keyframes breathing {
     0%{transform: scale(1);}
     50%{transform: scale(1.1);}
     100%{transform: scale(1);}
 }
.overflow-wrap > #cards{
    background: var(--light-gray-10);
}
 .card.dragging{
     animation-name: breathing;
     animation-duration: 1.5s;
     animation-iteration-count: infinite;
 }