@import url("https://raw.githack.com/mamrezn7/Davilo_app/master/general_stylesheet.css");

/*end of general css*/
.clusters{
    border: 2px solid var(--light-gray-10);
}

.cluster{
    border: 2px solid var(--light-gray-10);
}
.colorOverlay{
    border-radius: 10px;
}