@import url("https://raw.githack.com/mamrezn7/Davilo_app/master/general_stylesheet.css");

/*end of general css*/
 @keyframes breathing {
     0%{transform: scale(1);}
     50%{transform: scale(1.05);}
     100%{transform: scale(1);}
 }
.overflow-wrap > #cards{
    background: var(--light-gray-10);
}
 .card.dragging{
     animation-name: breathing;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     -moz-animation-name: breathing;
     -moz-animation-duration: 2s;
     -moz-animation-iteration-count: infinite;
     -o-animation-name: breathing;
     -o-animation-duration: 2s;
     -o-animation-iteration-count: infinite;
     -webkit-animation-name: breathing;
     -webkit-animation-duration: 2s;
     -webkit-animation-iteration-count: infinite;
 }