@import url("general_stylesheet.css");

/*general stylesheet added*/


.flippedDone{
    -moz-box-shadow:    inset 0 0 25px lime;
    -webkit-box-shadow: inset 0 0 25px lime;
    box-shadow:         inset 0 0 25px lime;
}
#counter{
    font-size: 20px;
}