@import url("general_stylesheet.css");

/*general stylesheet added*/

/*Input*/

.input-field{
    max-width: 98%;
    height: 2em;
    font-size: inherit;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}