@import url("general_stylesheet.css");

/*general stylesheet added*/


#mainpage:nth-child(2){
    width: auto;
}

#mainpage > div > div{
    height: 5px !important;
}
.ui-widget-header{
    filter: sepia(1) saturate(500%) hue-rotate(40deg);
}
.ui-btn-up-b{
    background-image: var(--blue) !important;
    border: none;
}
.ui-btn-down-b{
    background-image: var(--light-blue);
}